name: food_recipe_app
description: "A simple food recipe app."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter

  flutter_bloc: ^8.1.0
  provider: ^6.1.1
  sqflite: ^2.3.0
  path: ^1.8.3
  http: ^1.1.0
  flutter_dotenv: ^5.1.0
  google_mlkit_image_labeling: ^0.10.0
  image_picker: ^1.0.4
  webview_flutter: ^4.4.2
  intl: ^0.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - .env

  fonts:
    - family: Poppins
      fonts:
        - asset: fonts/Poppins-Regular.ttf
        - asset: fonts/Poppins-Medium.ttf
          weight: 500
        - asset: fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: fonts/Poppins-Bold.ttf
          weight: 700